# Configuration file

~CONFIG_VERSION: 0.1.0

world-78688046 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world148390391 {
    # Give items instead of showing the recipe.
    B:cheatItemsEnabled=false

    # Hide and unhide items by clicking them in the item list.
    B:editEnabled=false
    S:filterText=@projecte

    # Show the list of items next to open guis.
    B:overlayEnabled=true
}


world1543967172 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=elev
    B:overlayEnabled=true
}


world1760588026 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1804406823 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=alumite
    B:overlayEnabled=true
}


world1912248587 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1984955967 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world2073988517 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=angel
    B:overlayEnabled=true
}


world238142488 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world270352004 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world3059246 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=@extrau
    B:overlayEnabled=true
}


world3556498 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world538938394 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=copper cell
    B:overlayEnabled=true
}


world87159 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=@rftool
    B:overlayEnabled=true
}


